

// 背景
.bg-lightGray {
    background-color: #f5f5f5;
}
.bg-orange {
    background-color: #ff8a00 !important;
}
.bg-red {
    background-color: #f20000 !important;
}

.bg-gray {
    background-color: #C4C4C4 !important;
}

.bg-green{
    background-color:green !important;
}

//边框
.border-red {
    border-color: #f20000 !important;
}

.border-gray {
    border-color: #e0e0e0 !important;
}
