


////
/// @group variable-theme
////

/// 默认边框颜色颜色
$border-color: $gray-ccc;
/// 块级模块的边框颜色
$border-block-color: #e5e5e5;
/// 默认的边框宽度
$border-width: 1px;
/// 加粗的边框宽度
$border-width-blod: 3px;
/// 默认的边框圆角
$border-radius: 5px;



$font-default-color: $gray-999;




/// 默认的字体大小
$font-normal: 14px;
$font-mini: 12px;
$font-big: 16px;
$font-biggest: 24px;



// 按钮
$btn-radius: 5px;
$btn-fontSize: 14px;
$btn-default-padding: 10px 15px;





//
//
// // backgrand
//
// $bg-color
// $border-width
